In [1]:
import pandas as pd

In [3]:
# Read in data set
movies_df = pd.read_csv(f'../Resources/movies_metadata.csv')
movies_df.head(1)

,adult,budget,id,imdb_id,original_language,original_title,overview,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count
0,False,30000000,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",10/30/95,373554033.0,81.0,Released,NaN,Toy Story,False,7.7,5415.0

The following cell uses a function `more_than_15_words` to select the rows from `movies_df` that have titles with more than 15 words. In the next cell, do the same selection, but using a lambda function

In [8]:
def more_than_15_words(title):
    split_title = title.split() # split the title into a list of words
    number_of_words_in_title = len(split_title) # count the number of words in the title
    is_greater_than_15 = number_of_words_in_title > 15 # check if the number of words is greater than 15
    return is_greater_than_15 # return whether or not the title has more than 15 words

movies_df[movies_df['original_title'].map(more_than_15_words)]

,adult,budget,id,imdb_id,original_language,original_title,overview,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count
7241,False,5600000,10338,tt0059797,en,Those Magnificent Men in Their Flying Machines...,Star studded comedy about a early 20th century...,6/3/65,29950000.0,138.0,Released,or How I Flew from London to Paris in 25 hours...,Those Magnificent Men in Their Flying Machines...,False,6.4,40.0
7268,False,0,65332,tt0070061,it,"Film d'amore e d'anarchia, ovvero 'stamattina ...",Set in Fascist Italy before the outbreak of Wo...,2/23/73,0.0,120.0,Released,NaN,Love and Anarchy,False,7.0,8.0
8420,False,0,22638,tt0036910,en,The Chronicle History of King Henry the Fifth ...,Olivier mustered out of the navy to film this ...,11/24/44,0.0,137.0,Released,NaN,Henry V,False,7.0,25.0
9227,False,0,22616,tt0230575,en,Night of the Day of the Dawn of the Son of the...,"The makers of this parody of ""Night of the Liv...",1/1/91,0.0,96.0,Released,NaN,Night of the Day of the Dawn of the Son of the...,False,5.3,4.0
14093,False,0,36108,tt0973844,en,Chacun son cinema ou Ce petit coup au coeur qu...,A collective film of 33 shorts directed by dif...,5/19/07,0.0,100.0,Released,NaN,To Each His Own Cinema,False,7.2,26.0
36823,False,0,270936,tt1023446,en,Ellen ten Damme: As I Was Wondering Where This...,Documentary about Dutch artist Ellen ten Damme...,4/19/07,0.0,66.0,Released,NaN,Ellen ten Damme: As I Was Wondering Where This...,False,0.0,0.0
38508,False,0,132144,tt0072685,es,La batalla de Chile: La lucha de un pueblo sin...,Documents the rise of the right-wing movement ...,3/18/75,0.0,97.0,Released,NaN,The Battle of Chile - Part I,False,6.3,4.0
38511,False,0,132148,tt0074187,es,La batalla de Chile: La lucha de un pueblo sin...,Chronicles the events immediately surrounding ...,3/13/76,0.0,88.0,Released,NaN,The Battle of Chile - Part II,False,6.8,4.0
38512,False,0,132150,tt0078831,es,La batalla de Chile: La lucha de un pueblo sin...,Guzmán’s final instalment shifts from covering...,3/15/79,0.0,78.0,Released,NaN,The Battle of Chile - Part III,False,6.0,3.0
44212,False,0,85854,tt0052156,en,The Saga of the Viking Women and Their Voyage ...,A group of lonely Viking women build a ship an...,12/1/57,0.0,66.0,Released,Fabulous! Spectacular! Terrifying! The raw cou...,The Saga of the Viking Women and Their Voyage ...,False,2.0,3.0

In [ ]:
# Find all the movies that have more than 15 words in their title using a lambda function.
# YOUR CODE HERE

In [ ]:
def hundredfold_return(row):
    revenue = row['revenue']
    budget = row['budget']
    budget_over_1000 = budget > 1000
    revenue_over_100x = revenue > 100 * budget
    return revenue_over_100x and budget_over_1000
    
movies_df[movies_df.apply(hundredfold_return, axis=1)]

In [ ]:
# Find all movies with budgets over 1000 that pulled in revenue over 100x their budget using a lambda function
# YOUR CODE HERE

In [ ]:
# load in list of English words
words_file = '../Resources/words.txt'

words_df = pd.read_csv(words_file, sep='\n', header=None)
words_df.columns = ['text']
words_df.head()

In [ ]:
def contains_x(word):
    split_word = list(word)
    word_contains_x = 'x' in split_word
    return word_contains_x

words_df[words_df['text'].map(contains_x)]

In [ ]:
# Find all words containing the letter 'x' using a lambda function
# YOUR CODE HERE